/* -----------------------------------------------------
 * Import Matugen Colors
 * ----------------------------------------------------- */
@import '/home/talto/.config/waybar/colors.css';

@define-color on_surface @on_secondary;
@define-color icon_color @secondary;
@define-color border_color @secondary;
@define-color background @secondary;

@import '../style.css';