/* -----------------------------------------------------
 * Import Matugen Colors
 * ----------------------------------------------------- */
@import '/home/talto/.config/waybar/colors.css';

@define-color icon_color #FFFFFF;
@define-color border_color @secondary;
@define-color background @surface;

@import '../style.css';