/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
/* @import '/home/talto/.config/waybar/colors.css'; */

@import "mocha.css";
@import '../style.css';
 
#custom-ml4w-welcome {
    background-image: url("../../assets/ml4w-icon-white.svg");
}
 